.main-hero-section{
    margin-top:7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 80vh;
    width:90%;
    
    background-image: url(../../assets/bluelight.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}



.inner-hero h1{
    text-align: center;
}

.urlform{
    text-align: center;
    margin-top: 7%;
}


.url-input {
    padding: 13px;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .submit-btn {
    padding: 13px 20px;
    background-color: #01aff6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
    transition: 1s ease;
  }
  
  .submit-btn:hover {
    background-color: rgb(26, 88, 109);
    color: greenyellow;
    
  }


  .generatedsummary-canvas{
    margin: 5%;
    height:100vh;
    width:90%;
    border-radius: 15px;
    background-color: #e2e8f0;
    font-size: 1.1rem; 
    line-height: 1.6;
  }

  .generatedsummary-canvas h2 {
    font-size: 1.5rem; /* Title for summary */
    color: #000; 
    margin-bottom: 15px;
    text-align: center;
    padding-top: 3%;
  }
  
  .generatedsummary-canvas p {
    font-size: 1.1rem;
    color: #555; /* Lighter color for text */
    margin: 5%;
  }
  

  .generatedmindmap-canvas{
    margin: 5%;
    width: 90%;
    height: 90vh;
    background-color: #e2e8f0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }


  .generatedmindmap-canvas img{
    height: 70%;
    width: 60%;
    
  }

  .generatedmindmap-canvas button{
    margin-top: 2%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: #01aff6;
    color: white;
    transition: 0.5s ease;
  }

  .generatedmindmap-canvas button:hover{
    color: greenyellow;
    background-color: rgb(26, 88, 109);
    cursor: pointer;
  }


  .generatedquiz-canvas{
    margin: 5%;
    width: 90%;
    height: 80vh;
    background-color: #e2e8f0;
    border-radius: 15px;
  }