.login-body{
    background-color: #634cfe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    width: 60vw;
    
    
    
    

}

.innerleft{
    background-color: #7065ff;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.innerright{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.innerleft-inner{
    color: white;
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 2;

}

.signupbtn{
    background-color: #634cfe;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: white;
    border-style: solid;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.innerright-inner{
    margin: 10%;
    display: flex;
    flex-direction: column;
    color:#634cfe;
}

.innerright-inner h1{
    font-weight: 400;
    font-style: normal;
}

.input {
    border-radius: 15px;
    width: 80%;
    height: 40px;
    border: 1px solid #634cfe;
    padding-left: 15px; /* Add padding to simulate margin for placeholder */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }

  .input::placeholder {
    color: lightslategray; /* Style the placeholder text */
  }
  
.checkboxdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox{
    height: 15px;
    width: 15px;
}
.checkboxtext{
    color: lightslategray;
    font-size: small;
    margin-left: 8px;
    
}

.signinbtn{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    width: 80%;
    background-color: #634cfe;
    color: white;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 15px;
    border-style: solid;
    border:#634cfe;
}

.signinbtn:hover{
    cursor: pointer;
    background-color: blueviolet;
    transition: 1s ease;
    border-color: black;
}

.loginwithsocialmedia {
    display: flex;
    flex-direction: column;
    
    color: slategray;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
}

.loginwithsocialmedia h2{
    margin-left: 20px;
}

.socialmediaicons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-left: 30%;

}

.socialmediaicons img{
    height: 20px;
    width: 20px;
}

@media (max-width: 767px) {

    .Main{
        border-radius: 10px;
    }
    .innerleft {
        display: none;
        border-radius: 20px;
    }

    .innerright {
        width: 100%;
        padding: 10px;
    }

    .form {
        width: 100%;
    }

    .input {
        width: 100%;
        padding: 10px;
    }

    .signinbtn, .signupbtn {
        width: 100%;
        padding: 10px;
    }

    .loginwithsocialmedia {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        
    }

    .socialmediaicons{
        margin: 0;
    }

    .socialmediaicons img {
        width: 24px;
        height: 24px;
    }
}

/* Tablet responsive styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .Main {
        flex-direction: column;
        border-radius: 10px;
    }

    .innerleft, .innerright {
        width: 100%;
        
    }

    .form {
        width: 80%;
    }

    .input {
        width: 100%;
        padding: 10px;
    }

    .signinbtn, .signupbtn {
        width: 100%;
        padding: 10px;
    }

    .loginwithsocialmedia {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .socialmediaicons{
        margin: 0;
    }

    .socialmediaicons img {
        width: 32px;
        height: 32px;
    }
}