* {
    font-family: Lato, sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(D:\React_Projects\notube\client\src\assets\lightwave.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 90%;
    margin: 5%;
    border-radius: 15px;
    color: white;
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: xx-large;
}

.heading p {
    font-size: x-large;
}

.tryit button {
    border: black;
    background-color: #182645;
    color: white;
    margin-top: 40%;
    padding: 10px 50px;
    font-size: large;
    border-radius: 5px;
    transition: 0.5s ease;
}

.tryit button:hover{
    scale: 1.2;
    color: rgb(33, 170, 255);
    
}

.features {
    display: flex;
    flex-direction: column; /* Stack heading and content vertically */
    height: 100vh;
    background-color: #1f2c4b9d;
    width: 90%;
    margin: 5%;
    border-radius: 15px;
    color: white;
}

.features-heading { 
    text-align: center;
    font-size: xx-large;
    
}

.features-content {
    display: flex;
    flex-direction: row;
    height: 100%; /* Make sure the content fills the container */
    gap: 5%;
    justify-content: space-around;
    align-items: center; /* Center the feature items vertically */
    padding: 20px 0; /* Add padding to the top and bottom */
}

.feature-1, .feature-2, .feature-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.feature-1 img, .feature-2 img, .feature-3 img {
    height: 350px;
    width: 350px;
    border-radius: 15px;
}


.howtouse{
    margin: 5%;
    background-color:   #1f2c4b9d ;
    height: 100vh;
    width: 90%;
    border-radius: 15px;
    color: white;
}

.howtouse-heading h1{
    padding: 5%;
    text-align: center;
}

.howtouse-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:20px;
    font-size: large;
}

.container-1,.container-2,.container-3{
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: #3c48669d;
    border-radius: 15px;
    text-align: center;
    transition: 1s ease;
    
    
}

.container-1 p{
    margin-left: 10%;
    margin-right: 10%;
}

.container-2 p{
    margin-left: 10%;
    margin-right: 10%;
}

.container-3 p{
    margin-left: 10%;
    margin-right: 10%;
}


.container-1:hover,.container-2:hover,.container-3:hover{
   scale: 1.2;
   transition: 1s ease;
   border: black;
    
    
}

.practicalusecases{
    margin: 5%;
    background-color: #1f2c4b9d;
    border-radius: 15px;
    height: 150vh;
}

.usecaseheading{
    text-align: center;
    color: white;
    padding-top: 1%;
}

.usecases-containers{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    justify-content: space-around;
    
}

.usecase1{
    display: flex;
    flex-direction: column;
    background-color: #3a4f6d;
    height: 90vh;
    width: 20vw;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-size: large;
    

}

.usecase1 img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    align-items: center;
    margin-top: 10%;
}

.usecase1 p{
    text-align: center;
}


/* General Styles for Mobile Devices */
@media (max-width: 768px) {
    /* Hero Section */
    .hero {
      flex-direction: column;
      padding: 10px;
      width: 100%;
      margin: 0;
      height: auto; /* Auto-adjust height based on content */
    }
  
    .heading h2 {
      font-size: large; /* Reduce font size */
      text-align: center;
    }
  
    .heading p {
      font-size: medium;
      text-align: center;
    }
  
    .tryit button {
      margin-top: 20px; /* Adjust margin for better spacing */
      padding: 8px 20px;
      font-size: medium;
    }
  
    /* Features Section */
    .features {
      flex-direction: column;
      height: auto; /* Adjust height for content wrapping */
      padding: 10px;
      margin: 10px 0;
      width: 100%;
    }
  
    .features-heading {
      font-size: x-large; /* Adjust heading size */
    }
  
    .features-content {
      flex-direction: column; /* Stack items vertically */
      padding: 0;
      gap: 20px; /* Add spacing between feature items */
    }
  
    .feature-1 img, .feature-2 img, .feature-3 img {
      height: 200px;
      width: 200px;
      margin-bottom: 10px;
    }
  
    /* How to Use Section */
    .howtouse {
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  
    .howtouse-heading h1 {
      font-size: large; /* Reduce heading font size */
      padding: 10px;
    }
  
    .howtouse-containers {
      flex-direction: column; /* Stack containers vertically */
      gap: 20px;
      padding: 10px;
    }
  
    .container-1, .container-2, .container-3 {
      margin: 10px 0;
      padding: 15px;
    }
  
    /* Practical Use Cases Section */
    .practicalusecases {
      flex-direction: column;
      height: auto;
      padding: 10px;
      width: 100%;
      margin: 0;
    }
  
    .usecaseheading {
      font-size: x-large;
      padding: 10px;
    }
  
    .usecases-containers {
      flex-direction: column;
      gap: 20px; /* Add spacing between use case items */
      padding: 0;
      margin: 10px 0;
    }
  
    .usecase1 {
      width: 100%;
      height: auto;
      padding: 10px;
      margin: 10px 0;
    }
  
    .usecase1 img {
      height: 150px;
      width: 150px;
      margin-bottom: 10px;
    }
  
    /* Global Adjustments */
    h1, h2, h3, p {
      font-size: smaller; /* Globally reduce font size */
    }
  
    /* Navbar */
    .navbar {
      flex-direction: row;
      align-items: center;
      padding: 10px 0;
      font-size: small
    }
  
    .navbar ul {
      flex-direction: row;
      gap: 15px; /* Space out navbar items */
    }
  }
  
  /* For Extra Small Devices (e.g., very small mobile phones) */
  @media (max-width: 480px) {
    /* Hero Section */
    .hero {
      padding: 5px;
    }
  
    .heading h2 {
      font-size: medium; /* Further reduce font size */
    }
  
    .heading p {
      font-size: small;
    }
  
    .tryit button {
      padding: 5px 15px;
      font-size: small;
    }
  
    /* Features Section */
    .features-heading {
      font-size: large;
    }
  
    .features-content {
      padding: 5px;
    }
  
    .feature-1 img, .feature-2 img, .feature-3 img {
      height: 150px;
      width: 150px;
    }
  
    /* How to Use Section */
    .howtouse-heading h1 {
      font-size: medium;
    }
  
    /* Practical Use Cases Section */
    .usecaseheading {
      font-size: large;
    }
  
    .usecase1 img {
      height: 120px;
      width: 120px;
    }
  
    /* Global Adjustments */
    h1, h2, h3, p {
      font-size: x-small; /* Further reduce font size for extra small screens */
    }
  }
  